RFC7616 and RFC7617 support

At the moment, this library only support [RFC2617](https://tools.ietf.org/html/rfc2617) for confidential clients identified by their public ID and a password.
The new [RFC7616](https://tools.ietf.org/html/rfc7616) and [RFC7617](https://tools.ietf.org/html/rfc7617) may introduce new features and shlould be implemented.

*  [RFC7616](https://tools.ietf.org/html/rfc7616)
    * [ ] Implementation
    * [ ] Tests
* [RFC7617](https://tools.ietf.org/html/rfc7617)
    * [x] Implementation
    * [x] Tests

HTTP Digest authentication support removed as it does not really add security enhancement.